<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-4">
            <h1 class="text-center mb-5 mt-3 table-bordered" >Available Books</h1>
        </div>
        <div class="col-4"></div>
        <div class="col-4 mt-3 mb-5">
            <form [formGroup]="searchForm" class="d-flex" role="search">
                
                <input autofocus formControlName="searchTerm" class="form-control me-2" type="search" placeholder="Enter name or author or genre " aria-label="Search">
                <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
            </form>
        </div>
    </div>
</div>

<div class="container ">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr class="table-primary">
                <th>Name</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Click To borrow</th>
                
            </tr>
    
    
        </thead>
        <tbody>
            <ng-container *ngFor="let books of filteredItems">
                <tr *ngIf="books.isAvailable==1" >
                    <td>{{books.name}}</td>
                    <td>{{books.author}}</td>
                    <td>{{books.genre}}</td>
                    
                    <td>
                        <span>
                        <a [routerLink]="'book-details/'+books.id"><button class="btn btn-primary"  >Details</button></a>
                        
                    </span>
                    </td>
                    
                </tr>
                <tr *ngIf="books.isAvailable==0" >
                    <td>{{books.name}}</td>
                    <td>{{books.author}}</td>
                    <td>{{books.genre}}</td>
                    <td>
                        <h4 class="text-danger">Unavailable!</h4>
                    </td>
                    
                </tr>
    
    
            </ng-container>
            <div class="container" *ngIf="filteredItems.length==0">
                <h3 class="text-center text-success">No books available with search term</h3>
            </div>
    
        </tbody>
    </table>

</div>

<footer class="container mt-3" >
    <h4 style="background-color: teal; color: white;" class="text-center">Developed By Aman Gaur</h4>
</footer>

