<nav class="mx-3 navbar navbar-expand-lg navbar-light bg-light">
  <a routerLink="" class="navbar-brand" > <img src="https://www.kindpng.com/picc/m/616-6169709_library-logo-of-a-person-holding-a-book.png" alt="logo" width="70px" height="70px"> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item" >
          <a class="nav-link mx-5" routerLink="login" *ngIf="!isLogin()"><b class="btn btn-primary">Login</b> </a>
      </li>
    
      <li class="nav-item">
          <a class="nav-link" routerLink="signup" *ngIf="!isLogin()"><b class="btn btn-primary">Signup</b></a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link"  *ngIf="isLogin()"><h6 style="color:#eb3434">Hi! {{username}}</h6></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="signup" *ngIf="isLogin()"><b>My-Lend-Books</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="signup" *ngIf="isLogin()"><b>My-Borrowed-Books</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="signup" *ngIf="isLogin()" (click)="logout()"><b>Logout</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="signup" *ngIf="isLogin()" ><b>{{userTokens}}</b></a>
      </li>
      
    </ul>
    
  </div>
</nav>
<router-outlet></router-outlet>
