
<h1 class="text-center mb-5 mt-3 table-bordered">My Borrowed Books</h1>
<div class="container ">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr class="table-primary">
                <th>Name</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Description</th>
                <th>Rating</th>
                <th>Purchased From</th>
                
            </tr>
    
    
        </thead>
        <tbody>
            <ng-container *ngFor="let books of books">
                <tr *ngIf="books.isAvailable==1" >
                    <td>{{books.name}}</td>
                    <td>{{books.author}}</td>
                    <td>{{books.genre}}</td>
                    <td>{{books.description}}</td>
                    <td>{{books.rating}}</td>
                    
                    
                    
                </tr>
                <tr *ngIf="books.isAvailable==0" >
                    <td>{{books.name}}</td>
                    <td>{{books.author}}</td>
                    <td>{{books.genre}}</td>
                    <td>{{books.description}}</td>
                    <td>{{books.rating}}</td>
                    <td>
                        <h4 class="text-success">{{books.lentByUserId}}</h4>
                    </td>
                    
                </tr>
    
    
            </ng-container>
            
    
        </tbody>
    </table>

</div>

